 @import "foundation_and_overrides";
 @import "main_layout";
 @import "custom";
 @import "bikes";
 @import "fullcalendar";
 @import "google_maps";
 @import "users";


 /* Add imports of custom sass/scss files here */

 #map {
        // width: 500px;
        height: 300px;
        margin: 0;
        padding: 0;
        min-width: 100%;
      }

// Front Page
.zero-padding {
  padding: 0;
}

.zero-margin {
  margin: 0;
}

.full-screen{
  min-width: 100%;
}

.width-100 {
  width: 100%;
}

.bike {
  text-align: center;
}

.footer {
  height: 200px;
  min-width: 100%;
  background-color: #79BEFA;
}

// Bike show page
.bike-show {
  min-width: 100%;
  height: 380px;
}

.heavy-left {
  height: 100px;
  background-color: red;
}














