<div class='spacer'></div>
<div class ="row center">
  <div class="small-12 large-6 columns">
    <ul class='no-bullets'> 

      <h3>Add booking for <%= @bike.name %></h3>
      
      <%= render 'errors' %>
      <%= render 'form' %> 
    </ul>
  </div>
  <div class="small-12 large-6 calendar_container">
    <div id="calendar">
    
    </div>
  </div> 
</div>
