<div class='spacer'></div>

<% @user.bookings.each do |booking| %>
<% bike = Bike.find(booking.bike_id) %>

<div class ="row center no-bullets">
    <div class="small-12 medium-4 columns">
        <%= link_to image_tag(bike.image), bike_path(bike) %> 
    </div>
    <div class="small-12 medium-4 columns"> 
        <ul>    
           <li><%= "You have booked #{bike.name}, on #{booking.start_time.to_date} at: #{booking.start_time.strftime("%H:%M")}, for #{booking.length} hours" %></li>
       </ul>
   </div>
   <div class='small-12 medium-4 columns'>
    <h1>Buttons?s</h1>
</div>
</div>
<div class="spacer">
</div>
<% end %>

<div class ="row center">
  <div class="small-12 large-12 columns"><%= link_to "Book a bike!", root_path %></div> 
</div>

<div class="spacer">
</div>
