<% if @bike.errors.any? %>
  <div class="errors">
    <h3>
      <%= pluralize(@bike.errors.count, 'error') %>
      prohibited this bike from being saved:
    </h3>
    <ul>
      <% @bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>