<div class="row full-screen background-2">
  <div class="small-12 text-center large-12 columns zero-padding">
    <h1>Rent a bike from someone like you</h1>
    <h3>Save money, meet awesome people, and consume less</h3>
  </div>
</div>
<div class='spacer'></div>
<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-3 columns">
    <%= render @bikes %>
  </ul>
</div>
