<div class="row full-screen">
  <div class="small-12 text-center large-12 columns zero-padding">
    <%= image_tag"front-page-background.jpg"%>
  </div>
</div>

<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-3 columns">
    <% @bikes.each do |bike| %>
     <li class="bike">
      <%= link_to image_tag(bike.image), bike_path(bike)%>
      <%= link_to "#{bike.name}", bike_path(bike) %> </br>
      <%= link_to "#{bike.address}", bike_path(bike) %>

    </li>  
    <% end %>
  </ul>
</div>
