  #map {
    width: 500px;
    height: 400px;
  }

  .small-image{
    img {
      height:100px;
      width:100px;
    }
  }

  img {
    width: 300px;
    height:200px;
  }
.bike-buttons{
  padding-top: 70px;
}

.bike-info {
  padding-top: 60px;
}


.content {
  background-color: #F5F5F5;
}
#bike-index-title a{
color: #999999;
;
}